body {
  font-family: Arial;
  font-size: 60px;
  padding: 0px;
  margin: 0px;
  background-image: linear-gradient(Gold, White)
}

#topbar button {
  font-size: 45px;
  border-radius: 15px
}

#topbar button:hover {
  background-color: White
}

#topbar button:active {
  background-color: Silver
}
