body {
  font-family: Arial;
  font-size: 60px;
  color: white;
  padding: 0px;
  margin: 0px;
  background-image: url("https://img.freepik.com/free-photo/man-walking-precipice_1134-331.jpg");
  background-size: cover;
}

#headers {
  text-align: center;
}